<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="de.idnow.sdk"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <!-- needed to fix a bug -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/IdnowSdkTheme">

        <activity
            android:name="de.idnow.sdk.Activities_VideoLiveStreamActivity_Tokbox"
            android:exported="true"
            android:label="@string/title_live_stream_screen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="de.idnow.sdk.Activities_VideoLiveStreamActivity_IceLink"
            android:exported="true"
            android:label="@string/title_live_stream_screen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="de.idnow.sdk.Activities_ResultActivity"
            android:label="@string/title_activity_result"
            android:screenOrientation="portrait"/>
        <activity
            android:name="de.idnow.sdk.Activities_VideoOverviewCheckActivity"
            android:label="@string/title_activity_second"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="de.idnow.sdk.Activities_HelpDataActivity"
            android:label="@string/title_activity_help_data"
            android:screenOrientation="portrait"/>
        <activity
            android:name="de.idnow.sdk.Activities_HelpIDActivity"
            android:label="@string/title_activity_id_help"
            android:screenOrientation="portrait"/>

        <service android:name="de.idnow.sdk.Util_KillNotificationService"/>

        <activity
            android:name="de.idnow.sdk.Activities_PhotoCountrySelectionActivity"
            android:label="@string/title_activity_photo_country_selection"
            android:screenOrientation="portrait"/>
        <activity
            android:name="de.idnow.sdk.Activities_PhotoDocumentSelectionActivity"
            android:label="@string/title_activity_photo_document_selection"
            android:screenOrientation="portrait"/>
        <activity
            android:name="de.idnow.sdk.Activities_PhotoProcessOverviewActivity"
            android:label="@string/title_activity_photo_process_overview"
            android:screenOrientation="portrait"/>
        <activity
            android:name="de.idnow.sdk.Activities_PhotoLiveActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_photo_live"
            android:screenOrientation="portrait"/>
        <activity
            android:name="de.idnow.sdk.Activities_PhotoCheckActivity"
            android:label="@string/title_activity_photo_check"
            android:screenOrientation="portrait"/>
        <activity
            android:name="de.idnow.sdk.Activities_PhotoUploadActivity"
            android:label="@string/title_activity_photo_upload"
            android:screenOrientation="portrait"/>
        <activity
            android:name="de.idnow.sdk.Activities_LegalNoticesActivity"
            android:label="@string/title_activity_legal_notices"
            android:screenOrientation="portrait"/>
        <activity
            android:name="de.idnow.sdk.Activities_EntryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="de.idnow.sdk.BaseActivities_BaseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
